<!-- Terms and Privacy -->
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="shrink cell">
    <ul class="vertical medium-horizontal menu text-center small dark-gray text-uppercase letter-spacing--loose">
{#
     {% if site.phoneNumber %}<li><a href="tel:{{site.phoneNumber}}">{{site.phoneNumber}}</a></li>{% endif %}
     {% if site.email %}<li class="show-for-medium"><a href="mailto:{{site.email}}">{{site.email}}</a></li>{% endif %}
#}
     <li class="show-for-medium"><a href="/terms">Terms</a></li>
     <li class="show-for-medium"><a href="/privacy-policy">Privacy</a></li>
    </ul>
  </div>
</div>
<!-- End Terms and Privacy -->