<!-- Navigation -->
<div class="grid-x align-center align-middle navigation" id="swup-header" style="z-index: 14">
  <div class="small-12 cell text-center">
{#     <div class="small dark-gray text-uppercase letter-spacing--loose">Modern travel accessories</div> #}
  </div>
</div>
<!-- End Navigation -->
