<!-- Navigation -->
<div class="grid-x align-justify align-middle navigation" id="swup-header" style="z-index: 14">

{#
  <div class="small-4 cell align-middle">
      <ul class="menu small text-uppercase sans-regular letter-spacing--loose">
        <li><a href="/about">About</a></li>
      </ul>
  </div>
#}

  <div class="small-12 cell text-center">
    <a href="/" class="h2"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  </div>

{#
  <div class="small-4 cell align-middle text-right">
      <ul class="menu small text-uppercase sans-regular letter-spacing--loose align-right">
        <li><a href="/contact">Contact</a></li>
      </ul>
  </div>
#}
</div>
<!-- End Desktop Navigation -->
