@font-face {
  font-family: 'GT Super Text Regular';
  src: 
  url('../fonts/gt-super-text-regular.woff2') format('woff2'), 
  url('../fonts/gt-super-text-regular.woff') format('woff'),
  url('../fonts/gt-super-text-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}